
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p{
  margin-bottom: 0px;
}

//<SidebarJS header>
.closeBar,.openBar {
    position: absolute;
    top: 8%;
    left: 5%;
    transform: translateY(-50%);
  font-size: 20px;
    cursor: pointer;
  }
  
  .none{
      display: none;
  }
  
  .btn_navbar {
      position: relative;
      z-index: 10;
      width: 20%;
      display: none;
    }
  
    .changeBar {
      transform: translate(2%,16%);
      display: none;
    }
  //</SidebarJS header>

