* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  position: static;
  padding-right: 0 !important;
  overflow: unset !important;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0px;
}

//<SidebarJS header>
.closeBar,
.openBar {
  position: absolute;
  top: 8%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}

.none {
  display: none;
}

.show-element{
  display: block!important;
}

.btn_navbar {
  position: relative;
  z-index: 10;
  width: 20%;
  display: none;
}

.changeBar {
  transform: translate(2%, 16%);
  display: none;
}

//</SidebarJS header>
h2 {
  font-weight: $fw-normal;
  font-size: $fs-4xl ;
  line-height: $lh-c4;
}

.custom_feature h3 {

  background: linear-gradient(180deg, #F21299 0%, #1B02B5 100%);
  padding: 10px 0px;
}


.btn-main {
  margin-top: 0px;
  display: flex;
  align-items: center;
  height: 43px;
  width: 110px;
  background: $bg-gradient-light-4 ;
  color: $text-c0-white;
  border-radius: 50px;
  transition: all .5;

  &:hover .icon-button svg {
    transform: translateX(-10px);
    animation: toRight 1s linear 0s infinite;
    transition: all .5s;
  }

  .icon-button {
    svg {
      font-size: 1.2rem;

    }
  }
}

.btn-main-2 {
  width: 100px;
  height: 40px;
  background-color: #0018ee;
  color: #fff;
  border-radius: 10px;
}


.fa-eye {
  color: $text-c1-dark;
  width: 22px;
  height: 15px;
  position: absolute;

  right: 31.17%;
  top: 62.83%;
  cursor: pointer;

  @media screen and (max-width:1198.98px) {
    right: 17.17%;
  }

  @media screen and (max-width: 767.98px) {
    right: -87.83%;
  }

  @media screen and (max-width: 767.98px) {
    right: -94.83%
  }
}

.form-control {
  width: 443px;
  height: 54px;
  background: rgba(33, 33, 33, 0.08);
  border-radius: 4px 4px 0px 0px;
}

.p-main {
  @include text($fs-18, $fw-medium, $text-c3-dark, $lh-c2);
  margin-left: 6.67px;
  margin-bottom: 10px;
}


.carousel-text {
  display: flex;

  @media screen and (max-width:575.98px) {
    flex-direction: column;
    margin-bottom: 30px;
  }

  div {
    line-height: 35px;
  }
}


//input
.form-check-input:checked {
  background-color: $bg-c0-primary;
  border-color: $text-c0-white;
}
.form-check-input:focus{
box-shadow:none ;
}
// end input



@keyframes toRight {
  0% {
    transform: translateX(8px);
  }

  50% {
    transform: translateX(-8px);
  }

  100% {
    transform: translateX(8px);
  }
}