@import '../base/customize';
@import '../../../assets//scss/helpers/mixin';
@import '../../..//assets/scss/helpers/variables';


#root {
    div {

        .header {
            height: 50px;

            .header-top {
                background-color: #000;
                padding-top: 10px;
                padding-bottom: 8px;

                .container {


                    .select-list {

                        .search,
                        .shop-carts {

                            // font-size: $fz;
                            // font-weight: $fw;
                            // color: $color;
                            // line-height: $lh;
                            a {

                                @include text($fs-3xl, $fw-light, $text-c0-white, $lh-c6);

                                i {
                                    width: 33px;
                                    height: 32px;
                                    margin-right: 5.6px;

                                    @media screen and (max-width:767.98px) {
                                        width: 25px;
                                        margin-right: 0px;
                                    }

                                }

                                @media screen and (max-width:767.98px) {
                                    font-size: $fs-2xl;
                                    line-height: $lh-c5;
                                }
                            }

                            margin-right: 19.82px;

                            &.shop-carts {
                                a {
                                    font-size: $fs-base;
                                    line-height: $lh-c5;

                                    i {
                                        margin: 0;
                                        // transform: translateX(2px)
                                    }
                                }

                            }

                        }

                        .login,
                        .register {
                            a {

                                @include text($fs-base, $fw-light, $text-c0-white, $lh-c1);
                            }

                            margin-right: 20px;
                        }
                    }
                }
            }

            .header-bottom {
                .container {
                    .btn_navbar {

                        @media screen and (max-width:576px) {
                            display: block;
                            margin-top: 20px;
                            margin-left: 8px;
                        }
                    }

                    .nav-list {
                        .menu-list {
                            padding-left: 0;
                            padding-top: 16px;
                            height: 50px;

                            @media screen and (max-width:576px) {
                                transform: translate(2%, 26%);
                                flex-direction: column;
                                padding-top: 0;
                            }

                            li {
                                margin-right: 25px;
                                position: relative;

                                @media screen and (max-width:576px) {
                                    margin-bottom: 10px;
                                    text-align: center;
                                }

                                a {
                                    @include text ($fs-2xl, $fw-normal, $text-c0-dark, $lh-c2);

                                    &::after {
                                        content: '';
                                        position: absolute;
                                        width: 0;
                                        height: $lh-c3;
                                        background-color: $bg-c0-dark;
                                        left: 0;
                                        bottom: -4px;
                                        transition: 0.5s;
                                    }

                                    &:hover::after {
                                        width: 100%;
                                    }
                                }

                                &:nth-child(2) {
                                    a {
                                        font-weight: $fw-light;
                                        color: $text-c1-dark;
                                    }
                                }

                                &:nth-child(3) {
                                    a {
                                        font-weight: $fw-light;
                                        color: $text-c1-dark;
                                    }
                                }
                            }

                        }

                    }
                }

            }
        }
    }
}