.carousel-home {
  background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff);

  .slick-slider {

    .slick-prev,
    .slick-next {
      position: static;
      transform: translate(0, 0);

      &::before {
        display: none;
      }
    }

    .slick-list {
      .slick-track {
        .slick-slide {
          .carousels-item {

            display: flex !important;
            justify-content: space-around;
            align-items: center;

            @media screen and (max-width: 767.98px) {
              flex-direction: column;
              // align-items: unset;
            }

            .carousel-item-left {
              img {
                width: 100%;
                // @media screen and (max-width: 767.98px){
                //   width:70% ;
                // }
              }
            }

            .carousel-item-right {
              margin-top: 66px;

              @media screen and (max-width: 767.98px) {
                margin-top: 0;
                transform: translateY(-10vw);
              }

              h3 {
                color: $text-c0-white;
                margin-bottom: 20px;
                font-size: 2rem;

                @media screen and (max-width:899.98px) {
                  font-size: 1.5rem;
                }
              }

              span {
                display: inline-block;
                color: $text-c0-white;

                padding: 7px 15px;
                margin-right: 20px;
                border-radius: 8px;
                background: linear-gradient(to left, #3196bb, #2980b9, );
                font-size: 1.2rem;
                line-height: 1.8;

              }

              button {
                color: $text-c0-white;
                background: $bg-c0-primary;
                // 
                background: linear-gradient(to left, #0575e6, #021b79);
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}