.content-login {
  
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
        margin-bottom: 65px;
        position: relative;

        p {
            @include text($fs-18, $fw-medium, $text-c3-dark, $lh-c2);
            margin-left: 6.67px;
            margin-bottom: 10px;
        }
        .p-err {
            margin-left: 0px;
            width: 443px;
            height: 54px;
        }
        &:nth-child(2) {
            margin-bottom: 33px;
        }

        &:nth-child(3) {
            transform: translateX(35%);
            margin-bottom: 5px;

            span {
                color: $text-c0-primary;
                margin-right: 27px;
            }

            .btn-main {
                margin-top: 0px;
                width: 121px;
              height: 48px;
            //   padding: 16px 37px;
              border-radius: 50px;
            
            }
        }

        &:nth-child(4) {

            button {
                width: 442px;
                background-color: #1877F2;
                color: $text-c0-white;
                height: 63px;
                border-radius: 21px;
                padding: 31px;
                box-shadow: 0px 38.5px 71.5px rgba(0, 0, 0, 0.07);
                position: relative;

                .fa-facebook {
                    position: absolute;
                    font-size: $fs-4xl;
                    width: 43px;
                    height: 41px;
                    left: 12%;
                    top: 18%;
                    // background: $bg-c0-white;
                    margin-right: 32px;

                }

                span {
                    display: inline-block;
                    transform: translateY(-50%);
                }
            }
        }

        .fa-eye {
            right: 4.17%;
            top: 58.83%;
        }
    }
}