.carousel-home {
  background: $bg-gradient-light-1;
  padding-top: 64px;

  .slick-slider {

    .slick-prev,
    .slick-next {
      position: static;
      transform: translate(0, 0);

      &::before {
        display: none;
      }
    }

    .slick-list {
      .slick-track {
        .slick-slide {
          .carousels-item {

            display: flex !important;
            justify-content: space-around;
            align-items: center;

            @media screen and (max-width: 767.98px) {
              flex-direction: column;
            }

            .carousel-item-left {
              img {
                width: 100%;
              }
            }

            .carousel-item-right {
              margin-top: 66px;

              @media screen and (max-width: 767.98px) {
                margin-top: 0;
                transform: translateY(-10vw);
              }

              h3 {
                color: $text-c0-white;
                margin-bottom: 20px;
                font-size: 2rem;

                @media screen and (max-width:899.98px) {
                  font-size: 1.5rem;
                }
              }

              span {
                display: inline-block;
                color: $text-c0-white;
                padding: 7px 15px;
                margin-right: 20px;
                border-radius: 8px;
                background: $bg-gradient-light-3;
                font-size: 1.2rem;
                line-height: 1.8;

              }

              button {
                color: $text-c0-white;
                background: $bg-gradient-light-4;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

.list-product {
  position: relative;
  overflow: hidden;
  background: $bg-gradient-light-2;


  .card-item {
    @media screen and (max-width:767.98px) {
      margin: 0 20px;
      width: 93vw;
    }

    @media screen and (max-width:575.98px) {
      margin: 0 11px;
      width: 93vw;
    }

    .card {
      @media screen and (max-width:767.98px) {
        flex-direction: row;
        align-items: center;
      }

      @media screen and (max-width:414px) {
        flex-direction: column;
        align-items: center;
      }

      img {
        width: 100%;

        @media screen and (max-width:767.98px) {
          width: 40vw;
        }
      }

      .card-body {
        @media screen and (max-width:767.98px) {
          padding: 0 0 0 0.5rem;

          h5 {
            font-size: 28px;

            @media screen and (max-width:575.98px) {
              font-size: 1.2rem;
            }
          }
        }

        @media screen and (max-width:414.98px) {
          padding: 1rem;
        }

        .rating-button {
          margin-top: 10px;

          button {
            background: $bg-gradient-light-4;
            color: $text-c0-white;

          }

          span {
            display: inline-block;
            color: $text-c0-white;
            padding: 7px 15px;
            margin-left: 20px;
            border-radius: 8px;
            background: linear-gradient(to left, #3196bb, #2980b9, );
            font-size: 0.9rem;
          }

          @media screen and (max-width:767.98px) {
            margin-top: 18px;
            display: flex;

            button {
              font-size: 1.3rem;
            }

            span {
              padding: 9px 15px;
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }

  .card {
    background: $bg-gradient-light-0;
    z-index: 1;
  }
  .bg-support {
    height: 50%;
    width: 100vw;
    background-image: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff00) !important;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
