.form-register {
    .row {
        font-family: 'Roboto', sans-serif;
        margin-top: 52px;
        margin-bottom: 77px;
        @media screen and (max-width:767.98px) {
            flex-direction: column;
       
        }
        .col-6 {
          
            .form-group {
                margin-bottom: 65px;
                position: relative;

                p {
                    @include text($fs-18, $fw-medium, $text-c3-dark, $lh-c2);
                    margin-left: 6.67px;
                    margin-bottom: 10px;

                    &:nth-child(3) {
                        margin-top: 5px;
                    }

                }
                .p-err {
                    margin-left: 0px;
                    width: 443px;
                    height: 54px;

                }
                .form-control,.p-err {
                    @media screen and (max-width:991.98px) {
                        width: 375px;
                   
                    }
                    @media screen and (max-width:991.98px) {
                        width: 375px;
                   
                    }
                    @media screen and (max-width:767.98px) {
                        width: 520px; 
                    }
                    @media screen and (max-width:575.98px) {
                        width: 450px;
                   
                    }

                }

        
                @media screen and (max-width:1198.98px) {
                    margin-left: 5vw;
                }

                @media screen and (max-width:991.98px) {
                    margin-left: 4vw;
                }
                @media screen and (max-width:767.98px) {
                    margin-left: 12vw;
                }
                @media screen and (max-width:575.98px) {
                    margin-left: 7vw;
                }
            }

            &:nth-child(2) {

                .gender {
                    margin-top: 94px;

                    span {
                        width: 59px;
                        height: 30.69px;
                        margin-right: 36px;
                    }

                    input {
                        margin-right: 36px;
                        cursor: pointer;
                    }

                    label {
                        transform: translate(-4vw, 2vw);
                        @media screen and (max-width:767.98px) {
                            margin-left: 12vw;
                        }
                        @media screen and (max-width:575.98px) {
                            transform: translate(-9vw, 5vw);
                        }
                    }
                }
            }
        }
    }
}