.search {
    padding-top: 64px;

    @media screen and (max-width: 600px) {
        padding-top: 54px;
    }

    .search-top {
        padding: 20px 28px 0 28px;
        background: $bg-gradient-light-1;

        form {

            .form-group {
                position: relative;
                padding-bottom: 32px;

                .form-control {
                    width: 400px;

                    @media screen and (max-width: 414px) {
                        width: 300px;
                    }
                }

                .btn-main {
                    margin-top: 20px;
                }
            }
        }

        .search-result {
            position: relative;
            padding-bottom: 10px;

            h2 {
                border-top: 0.5px solid $bg-c1-dark;
                padding: 32px 0 0 0;
                text-align: center;

            }

            .main-input {
                margin-bottom: 20px;
                width: 300px;
                position: relative;

                p {
                    width: 68px;
                }

                .arrowDrop {

                    display: inline-block;
                    cursor: pointer;
                    color: $text-c0-primary;
                    position: absolute;
                    right: 0;
                    top: -3px;

                    overflow: hidden;

                    svg {
                        font-size: 65px;
                    }
                }
            }
        }
    }

    .list-product {

        margin: 0 !important;

        .card-item {
            padding-top: 30px;

            @media screen and (max-width:767.98px) {
                margin: 0;
            }

            .card {
                &:last-of-type {
                    @media screen and (max-width:767.98px) {
                        margin-bottom: 20px;
                    }
                }
            }
        }

    }
}