//Khai báo biến

/* -------------Test-------------*/
$text-c0-primary: #2a73dd;
$text-c0-dark: #000;
$text-c0-light: #fff;
$fs-base: 16px;
$fs-xl: 18px;
$fs-2xl: 20px;
$fs-3xl: 30px;
$fs-4xl: 40px;
$fs-5xl: 50px;
$fs-6xl: 60px;
$fs-7xl: 70px;

$fw-light:300;
$fw-normal:400;
$fw-semibold:600;
$fw-bold:700;

/*----------Background-----------*/
$bg-c0-primary: #2a73dd;
$bg-c1-primary: #f5f9fe;
$bg-c0-dark: #000;
$bg-c0-light: #fff;
$bg-none: transparent;

/*---------Mixin-----------*/
@mixin text($fz:$fs-base, $fw:$fw-light, $c:$text-c0-dark) {
    font-size: $fz;
    font-weight: $fw;
    color: $c;
}

@mixin button($fz, $fw, $c, $bg, $bd, $br, $p, $c-hover, $bg-hover) {
    font-size: $fz;
    font-weight: $fw;
    color: $c;
    background: $bg;
    border: $bd;
    border-radius: $br;
    padding: $p;
    cursor: pointer;
    &:hover {
        color: $c-hover;
        background: $bg-hover;
    }
}