/*
chứa các variables (biến) chung khai báo
*/

/*-------- Backroung ---------*/
$bg-c0-white:#F5F5F5;


$bg-c0-dark:#000;
$bg-c1-dark:rgba(222, 221, 220, 1);

$bg-c0-yellow:#F8B653;
$bg-c1-yellow:rgba(225, 176, 103);

/*----- boder  ----*/
$bd-c0:1px solid #F8B653;

/*--------  Text -----*/
$text-c0-white:#fff;

$text-c0-dark:#000;
$text-c1-dark:#4d4d4d;
$text-c2-dark:rgba(203, 201, 201, 1);
$text-c3-dark:#00000099;

$text-c0-primary:#152AEBCC;
// font-Weight
$fw-lighter :200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium:500;
$fw-bolder:600;

//fontSize
$fs-base: 16px;
$fs-18:18px;
$fs-2xl: 20px;
$fs-24:24px;
$fs-3xl: 30px;
$fs-4xl: 40px;
//light-height khi xuất hiện giá trị mới ở các trang khác thì có thể thêm vào thay đổi (c)
$lh-c1:19.36px;
$lh-c2:24.2px;
$lh-c3:2px;
$lh-c4:48.41px;
$lh-c5:29.05px;
$lh-c6:36.31px;
//whwidth


