/*-------- Backround ---------*/
$bg-gradient-light-0:linear-gradient(to bottom, #005aa7, #fffde4)!important;
$bg-gradient-light-1: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff)!important;
$bg-gradient-light-2: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff)!important;
$bg-gradient-light-3: linear-gradient(to left, #3196bb, #2980b9);
$bg-gradient-light-4: linear-gradient(to left, #0575e6, #021b79);

$bg-gradient-dark-0:linear-gradient(to top, #bdc3c7, #2c3e50)!important;
$bg-gradient-dark-1: linear-gradient(to bottom, #bdc3c7, #2c3e50)!important;
$bg-gradient-dark-2: linear-gradient(to left, #bdc3c7, #2c3e50) !important;
$bg-gradient-dark-3:linear-gradient(to right, #355570, #283e51) !important;

$bg-c0-white:#F5F5F5;

$bg-c0-primary:#1976d2;

$bg-c0-dark:#000;
$bg-c1-dark:rgba(222, 221, 220, 1);
$bg-c2-dark:#d9d9d9;

$bg-c0-yellow:#F8B653;
$bg-c1-yellow:rgba(225, 176, 103);

$bg-c0-green:#9DE167;
/*----- boder  ----*/
$bd-c0:1px solid #F8B653;

/*--------  Text -----*/
$text-c0-white:#fff;

$text-c0-dark:#000;
$text-c1-dark:#4d4d4d;
$text-c2-dark:rgba(203, 201, 201, 1);
$text-c3-dark:#00000099;

$text-c0-primary:#152AEBCC;
$text-c1-primary: #1976d2;

$text-pink:#DD2AED;
// font-Weight
$fw-lighter :200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium:500;
$fw-bolder:600;

//fontSize
$fs-base: 16px;
$fs-2xl: 20px;
$fs-3xl: 30px;
$fs-4xl: 40px;
$fs-18:18px;
$fs-24:24px;
$fs-32:32px;
//light-height 
$lh-c1:19.36px;
$lh-c2:24.2px;
$lh-c3:2px;
$lh-c4:48.41px;
$lh-c5:29.05px;
$lh-c6:36.31px;
$lh-c7:38.73px;